@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using JetCloud.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

        <form id="searchBarContainer" asp-page="./Index" method="get">
            <input id="inputText" type="text" name="Search" value="@Model.CurrentFilter" placeholder="Search"/>
            <button id="submitSearch" type="submit"><i class="material-symbols-rounded">search</i></button>
            <a asp-page="./Index">Reset</a>
        </form>

<div id="toolBar">
    <button id="tools" onclick="showForm_hideForm()">
        <div id="icon"><i class="material-symbols-rounded">publish</i></div>
        <div id="iconTitle">Upload</div>
    </button>
     <form method="post" asp-page-handler="DownloadAll">
        <button id="tools" asp-page-handler="DownloadAll">
            <div id="icon"><i class="material-symbols-rounded">download</i></div>
            <div id="iconTitle">Download</div>
        </button>
    </form>
   @if (SignInManager.IsSignedIn(User))
   {
     if (User.IsInRole("Admin"))
     {
        <form method="post" asp-page-handler="Excel">
            <button id="tools" asp-page-handler="Excel">
            <div id="icon"><i class="material-symbols-rounded">cloud_download</i></div>
            <div id="iconTitle">ExportCSV</div>
            </button>
        </form>
     }
   }
</div>
        <div id="currentFiles">
            <p>@Model.CurrentDepartment Files</p>
        </div>
        <div id="filesGrid">
         
                @foreach (var file in Model.DepartmentFiles)
                {

            <div id="departmentFiles">

            <div id="fileDropDown">
                <i class="material-symbols-rounded">more_vert</i>
                <div id="fileLinks" >
                    <form method="post" asp-page-handler="Download" asp-route-fileID="@file.fileID">
                        <button type="submit" asp-page-handler="Download" asp-route-fileID="@file.fileID">Download</button>
                    </form>
                   @if (SignInManager.IsSignedIn(User))
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <form method="post" asp-page-handler="Delete" asp-route-fileID="@file.fileID">
                                <button type="submit" asp-page-handler="Delete" asp-route-fileID="@file.fileID">Delete</button>
                            </form>
                        }
                    }
                </div>
            </div>

               
                <div id="fileBanner">
                    <p>@file.fileName</p>
                    <p>Last Edit: @file.fileDate</p>
                    <p>Version: @file.fileVersion</p>
                </div>
            </div>

                }

       
        </div>
    <div id="sideBar">

        <div id="departments">
            <div id="subHeading">
                <h4>Squadron</h4>
                <div id="moreDiv" onclick="show_hide()">
                    <i class="material-symbols-rounded">more_vert</i>
                    <div id="links">
                        <a>Create</a>
                        <a>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
            if (User.IsInRole("Admin"))
            {
                @foreach (var deps in Model.Departments)
                {
                    <a asp-page="./Index" asp-route-depID="@deps.departmentID" asp-route-sortOrder="dep_sort">
                        <p>@deps.departmentName : @deps.departmentID</p>
                    </a>
                }
            }
            else
            {
                <a><p>@Model.CurrentDepartment </p></a>
            }
            }


        </div>
    
        <div id ="users">
            <div id="subHeading">
            <h4>Pilot</h4>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole("Admin"))
                {
                    @foreach (var user in Model.Users)
                    {
                    <p>@user.Title @user.GivenName @user.SurName </p>
                    }
                }
                else
                {
                    <p>@Model.CurrentUser </p>
                }
            }  
        </div>
        <div id="subHeading">
            <h4>Storage</h4>
        </div>
    </div>
<div id="uploadFileForm"> 
        <button id="closeBtn" onclick="showForm_hideForm()"><i class="material-symbols-rounded">close</i></button>
    <div id="welcomeMessage">
        <img src="~/img/JetCloudsLogoSolo.png" alt="logo">
    </div>
        <form id="uploadFile" enctype="multipart/form-data" method="post">

        @if (SignInManager.IsSignedIn(User))
        {
          if (User.IsInRole("Admin"))
          {
            <label>Select Department</label>
            <input id="FormInputs" asp-for="uploadedFile.departmentID" name="departmentID" placeholder="DepartmentID" />
            <span asp-validation-for="uploadedFile.departmentID"></span>
          }
            <input id="FormInputs" type="file" id="file1" asp-for="Upload" multiple="multiple" />
            <input id="uploadFilebtn" type="submit">
            }
    </form>
</div>




   